body {
  background-color: black;
}

/* for cards */

.card-body {
  display: flex;
  flex-direction: column;
  font-family: 'Nanum Gothic', sans-serif;
  box-shadow: 5px 10px #02cefc;
  margin-bottom: 5%;
  margin-top: 3%;

}

.head-img {
  /* background-image: url("./images/damask.jpg"); */
  height: 6em;
}

/* drink list */

.category-sort {
  display: flex;
  margin-bottom: 2%;
}

.category-dropdown {
  display: flex !important;
  /* margin-bottom: 2% !important; */
  /* width: 50% !important; */
}

.btn-add {
  display: flex;
  margin-left: 5%;
}

.btn-view-user-list {
  display: flex;
  margin-left: 5%;
}

.drinks__header {
  color: #fc02ce !important;
  margin-bottom: 2%;
  margin-top: 4%;
  display: flex;
  align-items: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.drinks {
  display: flex;
  flex-direction: column;
  margin-bottom:3%;
  align-items: center;
}

.drinks-list {
  display: flex;
  flex-direction: column;
  /* flex-basis: 35%; */
  align-items: center;
  justify-content: space-between;
}

.drinks__buttons {
  display: flex;
  margin-bottom: 3%;
  
}

.btn-add {
  display: flex;
  margin-left: 5%;
}

.btn-delete {
  display: flex;
  margin-left: 5%;
}

/* .drinks__header {
  display: flex;
  margin-left: 6%;
  margin-top: 1%;
  font-family: 'Nanum Gothic', sans-serif;
} */

/* user list */

.user-drink-header {
  color: #fc02ce !important;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.user-drink-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-back {
  display: flex;
  margin-left: 5%;
}

.btn-add-user {
  display: flex;
  margin-left: 5%;
}

/* drink details */

.drink-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  background-color: #22292e !important;
  box-shadow: 5px 10px #1e7a8f;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 4%;
  margin-bottom: 4%;
}


.drinks__ingredient {
  margin-bottom: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drinks__name {
  font-family: 'Tangerine', cursive;
  color: #fc02ce !important;
  font-size: 4rem !important;
  font-weight: bold !important;
  margin-top: 3%
  
}

.category {
  color: #fc02ce !important;
  margin-bottom: 3%;
  display: flex;
  align-items: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.drinks__ingredient {
  font-family: 'Nanum Gothic', sans-serif;
  color: #fc02ce !important;
  margin-top: 4%;

}

.ingredient__name {
  font-family: 'Nanum Gothic', sans-serif;
  color: #02cefc !important;
  list-style: none;
  text-align: left;
}


.measurement {
  font-family: 'Nanum Gothic', sans-serif;
  color: #02cefc !important;
  list-style: none;
}

.drinks__user {
  color: whitesmoke;
}

.details__buttons {
  margin-top: 2%;
}

/* login */

.login-header {
  font-family: 'Tangerine', cursive;
  font-size: 4em;
  display: flex;
  margin-left: 35%;
  margin-top: 5%;
  color:#fc02ce !important;
}


/* video */

.container--login {
  background-color: black;
  padding-bottom: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video {
  display: flex;
  align-items: center;
}

.video-itself {
  margin-left: 35%;
}

.userName {
  color: #fc02ce;
}

.emailLabel {
  color: #fc02ce;
}


/* form */




/* home */

.video {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

.home-btns {
  display: flex;
  align-items: center;
  margin-left: 39%;
}

.home-btn-login {
  margin-right: 4%;
}

.btn-signin {
  margin-top: 4%;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-register {
  margin-top: 4%;
}

.label-email {
  font-family: 'Nanum Gothic', sans-serif !important;
  color:  #02cefc !important;
}

.label-user {
  font-family: 'Nanum Gothic', sans-serif !important;
  color: #02cefc !important;
}

.drink-form {
  display: flex;
  flex-direction: column;
  margin-left: 35%;
  color: #fc02ce;
}

.btn-form-container {
  display: flex;
  margin-left: 15%;
  margin-bottom: 5%;
}

.drinkForm__title {
  margin-left: 15%;
  margin-top: 4%;
  color: #02cefc
}

.ingredient-container {
  display: flex;
  flex-direction: row;
}

.glassware {
  list-style: none;
}

