body {
  background-color: slategray;
}

.card-body {
  display: flex;
  flex-direction: column;
  font-family: 'Nanum Gothic', sans-serif;

}

.head-img {
  background-image: url("./images/damask.jpg");
  height: 6em;
}

.category-sort {
  display: flex;
}

.category-dropdown {
  display: flex !important;
  width: 25% !important;
}

.btn-add {
  display: flex;
  margin-left: 5%;
}

.btn-view-user-list {
  display: flex;
  margin-left: 5%;
}

.drinks__header {
  color: rgb(255, 198, 77) !important;
  margin-bottom: 1%;
}

.drinks {
  display: flex;
  flex-direction: column;
  margin-left: 8%;
  margin-bottom:3%;
}

.drinks__buttons {
  display: flex;
  margin-bottom: 3%;
}

.drinks__header {
  display: flex;
  margin-left: 6%;
  margin-top: 1%;
  font-family: 'Nanum Gothic', sans-serif;
}